/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styless.css ***!
  \*******************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styless.css (1) ***!
  \***********************************************************************/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* Reset a element styles */
a {
  text-decoration: none;
  color: inherit;
}


/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


body {
  font-family: sans-serif;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@layer components {
  /* Home */
  .header {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    padding: 15px;
    border: solid #EDF1F1 1px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 50%;
    min-width: 300px;

  }

  .header nav {
    color: #868C8A;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: system-ui;
    cursor: pointer;
  }

  .header-text {
    color: #868C8A;
    font-size: small;
  }
};
